<div id="modalEMP" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content" >
        <div *ngFor="let library of this.mediaS.dataLibrary; let i=index">
            <div *ngIf="i == this.mediaS.index" >
                <div class="modal-header" >
                {{ setHeader(library.IDMEDIA, library.EMAIL, library.NUMBEREPISODE) }}

                <h5 class="modal-title">{{library.TITLE}} Episodio : {{library.NUMBEREPISODE}}/{{library.TOTALEPISODES}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button *ngIf="this.mediaS.updateEmbed" class="btn btn-warning btn-plus" (click)="showModalFrameUpdated()"> Actualizar </button>
            <button class="btn btn-warning btn-plus" (click)="showModalFrame()"> Agregar </button>
          </div>
        </div>
        <div *ngIf="this.mediaS.addEmbed" class="frameFrm modal-body row">
          <div  class="col-md-12">
              <label for="newModalFrame"> Codigo de insercion  </label>
              <textarea [(ngModel)]="rawFrameEmbed" class="form-control" name="newModalFrame"  cols="30" rows="5">

              </textarea>
          </div>
          <div class="btn newModelRadio col-sm-4" *ngFor="let qual of quality; let idx = index">
            <div *ngIf="updateFrame == false">
                <input type="radio" name="qualityRadio" value="{{qual}}" (change)="radioChangeHandler($event)">  {{qual}}
            </div>
            <div *ngIf="updateFrame">
                <input type="radio" name="qualityRadio" value="{{qual}}" [checked]="setQualityNumber(qual)" (change)="radioChangeHandler($event)">  {{qual}} 
            </div>
              
          </div>
          <div class="col-md-12">
            <br>
            <div *ngIf="markError" class="ErrorFrame">
                <label for="Error" class="text-danger"> Ha ocurrido un error inesperado, revisa que el código de inserción y la calidad del video no estén vacía o sin marcar. </label>
            </div>     
          </div>
          <div *ngIf="updateFrame == false" class="col-md-6">
            <button class="form-control btn btn-warning" (click)="saveUploadFrame()"> Agregar </button>
          </div>
          <div *ngIf="updateFrame == true" class="col-md-6">
            <button class="form-control btn btn-warning" (click)="updateUploadFrame()"> Modificar </button>
          </div>
          <div class="col-md-6"><button class="form-control btn btn-warning" (click)="closeNewFrame()"> Cancelar </button></div>
        </div>
        <div class="modal-body">
          <div *ngFor="let frame of this.mediaS.dataEmbed; let num=index">
            <div *ngIf="this.mediaS.frameActive == num" >
              <div [innerHtml]="onSafeHtml(frame.EMBEDFRAME)" class="embed embed-responsive embed-responsive-16by9">   
              </div>
              {{ setBody(frame.IDFRAME, frame.EMBEDFRAME, frame.QUALITY) }}
            </div>
          </div>
        </div> 
        <div class="modal-body row d-flex justify-content-center ">
          <div class="align-items-center" *ngFor="let frame of this.mediaS.dataEmbed; let num=index">
              <button class="btn btn-warning btn-frame" (click)="changeFrame(num)">[{{num+1}}] {{frame.QUALITY}}</button>
          </div>   
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div> 
      </div>
    </div>
</div>