.video-js .vjs-control-bar {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5.0em;
    background-color: rgba(43, 51, 63, 0.7); 
}