<div class="container-fluid content">
    <div class="row">
      <div class="col-md-12 title-setting">
        <br>
        <h2 class="text-muted">CONFIGURACIONES</h2> 
      </div>
      <div class="col-md-6 offset-md-3 preferences"> 
        <br>
        <h4> Opciones de perfil </h4>
        <form action="">
            <div class="form-check">
                <input type="checkbox" class="form-check-input"  [(ngModel)]="config.searchProfile"  name="userSearchAvailable">
                <label class="form-check-label" for="userSearchAvailable">Permitir que los usuarios encuentren mi perfil en las búsquedas de usuarios</label>
            </div>
            <br>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="config.sessionProfile" name="userSessionAvailable">
                <label class="form-check-label" for="userSessionAvailable">Permitir que el navegador guarde la información de inicio de sesión de mi perfil.</label>
            </div>
        </form>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 preferences">
        <br>
        <form>
          <div class="input-group">
            <input [(ngModel)]="_category.NAMECATEGORY" (input)="onChangeSearch()" class="form-control" type="text" name="preferences">
            <button class="btn btn-warning" (click)="addNoneData(this.generalValidation.processRepeatSimple(this.generalValidation.separateAndReplaceAndMinus(_category.NAMECATEGORY)))"> Agregar </button>
          </div>
        </form>
        <div class="text-small " *ngIf="dataCategory"> Sugeridos : </div>
        <div class="row pref-succ">          
          <div *ngFor="let category of dataCategory; let i=index" class="col-xs-2">
            <button (click)="pushCategory(category)" class="btn option" value="category">{{ category.NAMECATEGORY }}</button>
          </div>
        </div>
        <br>
        <h4> Preferencias </h4>
        <div class="row">
            <div *ngFor="let localCategory of dataPush; let i=index" class="col-xs-2">
              <button class="btn option" value="localCategory">{{ localCategory.NAMECATEGORY }} </button><i (click)="deleteDataPush(i)" class="delete fas fa-times-circle"></i>
            </div>
            <div *ngFor="let newCategory of NonedataPush; let j=index" class="col-xs-2">
                <button class="btn optionNew" value="newCategory">{{ newCategory.NAMECATEGORY }} </button><i (click)="deleteNoneData(j)" class="delete fas fa-times-circle"></i>
            </div>
            <div *ngFor="let invalidCategory of InvalidDataPush; let j=index" class="col-xs-2">
                <button class="btn optionInvalid" value="InvalidCategory">{{ invalidCategory.NAMECATEGORY }}</button><i (click)="deleteInvalidData(j)" class="delete fas fa-times-circle"></i>
            </div>
        </div>
        <br>
        <div class="row">
          <button class="btn btn-primary btn-preferences" (click)="saveConfiguration()"> Guardar </button>
        </div>
        <br>
      </div>
    </div>
    
</div>