.preferences{
    background: #ffffff;

}

.title-setting{
    text-align: center;
}

.input-group{
    border: 1px solid #000000;
}

.option{
    background: #4BBF73;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px; 
    margin-top: 15px;  
    color: #000000;
    border-radius: 15px;
    outline:none;
    font-weight: bold;
    font-size: 10px;
}

.optionNew{
    background: #f0ad4e;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px; 
    margin-top: 15px;  
    color: #000000;
    border-radius: 15px;
    outline:none;
    font-weight: bold;
    font-size: 10px;
}

.optionInvalid{
    background: #e71d16;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 5px; 
    margin-top: 15px;  
    color: #000000;
    border-radius: 15px;
    outline:none;
    font-weight: bold;
    font-size: 10px;
}

.pref-succ{
    background: #ffffff;
}

.pref-push{
    padding: 20px;
    border: 1px solid #343a40;
}

h4{
    text-align: center;
}

.delete{
    color: #e71d16;
    font-size: 15px;
    cursor: pointer;
}

.text-small{
    color: #000;
}